h2 {
    color: red;
}
<!-- Internal CSS -->
    <style>
        h2 {
            color: blue;
        }
    
      h4 {
        color: blue;
      }
      p {
        color: yellow;
      }
    </style>
    <!-- 
        ORDER OF PRIORITY:
            1. Inline CSS
            2. Internal CSS
            3. External CSS
    -->


    <!-- This is styled using the Element Selector -->
    <h2>CSS Selectors</h2>
    <!-- Universal Selector -->
    <p> This is styled using a universal selector. </p>


    /* Universal Selector */
* {
    color: brown;
}
/* Element Select */
h2 {
    color: red;
}

<!-- Class Selector -->
    <p class="class-name">This is styled using a class selector.</p>

    /* Class Selector */
.class-name {
    color: blue;
}

<!-- ID Selector -->
    <p id="id-name">This is styled using a ID selector.</p>

    /* ID Selector */
#id-name {
    color: yellow;
    background-color:brown;
}

<!-- Attribute Selector -->
    <h6 href="https://www.example.com">
      This is styled using an Attribute selector. H6 with an href value
    </h6>
    <a href="https://www.example.com"
      >This is styled using an Attribute selector. <br />
      This is an anchor tag with href value.
    </a>
    <br />
    <a>This is an anchor tag without an href value. </a>
    <br />
    <a href="https://www.google.com">
      This is an anchor tag with a specific href value.
    </a>


    /* Attribute Selector */
/* targetting any element that has an [href] attribute */
[href] {
    color: green;
}
/* targetting an <a> with an [href] attribute */
a[href] {
    color: pink;
    background-color: darkviolet;
}
/* targetting elements with a [href] value that is exactly "https://www.google.com */
a[href="https://www.google.com"] {
    color: tomato;
    background-color: darkgreen;
}


<!-- Descendant Selector -->
    <div class="ancestor">
      <h4>This is a heading.</h4>
      <p>This is styled using a descendant selector.</p>
    </div>
/* Descendant Selector */
.ancestor p {
    color:cadetblue;
}
.ancestor h4 {
    color: darkmagenta;
}
<!-- Descendant Selector -->
    <div class="ancestor">
      <h4>This is a heading.</h4>
      <p>This is styled using a descendant selector.</p>
    </div>
/* Descendant Selector */
.ancestor p {
    color:cadetblue;
}
.ancestor h4 {
    color: darkmagenta;
}
<!-- Grouping Selector -->
    <h1>Welcome to my website!</h1>
    <p class="parag">This is styled using a grouping selector.</p>
    <span> This is another paragraph styled using a grouping selector. </span>
}


/* Grouping Selector */
h1 , .parag , span {
    font-size: 15px;
    background-color: beige;
}

/* Pseudo-class */
.pseudo-class:hover{
    background-color: navy;
    color: white;
}
.parag2:visited {
  background-color:burlywood;
  color: black;
}



/* Pseudo-class */
.pseudo-class:hover{
    background-color: navy;
    color: white;
}
.parag2:visited {
  background-color:burlywood;
  color: black;
}
<!-- Pseudo-element -->
    <h3 class="heading3">Pseudo-element</h3>
    <p class="parag3">This is styled using a pseudo-element.</p>





    /* Pseudo-element */
.heading3::first-letter {
    color: black;
    background-color: aqua;
}
.parag3::before {
    content: "Placed before parag3 - ";
    background-color: lightpink;
}
.parag3::after {
    content: " - Placed after parag3";
    background-color: lightskyblue;
}
important is only override ID selector
